body {
  font-family: 'Roboto', sans-serif;
  background: rgb(186,234,246);
  background: linear-gradient(90deg, rgba(186,234,246,1) 0%, rgba(255,255,255,1) 29%, rgba(246,246,246,1) 65%, rgba(150,89,116,1) 100%);
}
.conteiner {
 position: relative;
 height: 100%;
 width: 100%;
}
.logo {
  position: absolute;
  font-family: 'Roboto Mono', monospace;
  font-size: 10px;
  letter-spacing: 25px;
  margin-left: 34pt;
  margin-top: 25pt;
}

.logotwo {
  position: absolute;
  font-family: 'Roboto Mono', monospace;
  font-size: 6px;
  letter-spacing: 22px;
  margin-left: 35pt;
  margin-top: 15pt;
}

.icons {
 position: absolute;
 margin-top: -630px;
 margin-left: 75px;

}
.fa {
  padding: 54px;
  font-size: 10px;
  height: 10;
  width: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 77%;
  margin-left: 215pt;
  margin-top: 2400px;
  animation: mymove 5s infinite;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
background: #cbcbcb;
color: white;
}
.fa-linkedin {
background: #cbcbcb;
color: white;
}
.fa-instagram {
background: #cbcbcb;
color: white;
}

.circle {
  width: 100%;
  height: 100%;
  position: absolute;
}

h1 span {
  position: absolute;
  font: 26px Monaco, MonoSpace;
  height: 300px;
  position: absolute;
  width: 30px;
  top: 140px;
  left: 800px;
  transform-origin: bottom center;
  color:black;
  text-shadow: black;
}

.char1 { transform: rotate(12.4deg); }
.char2 { transform: rotate(24.8deg); }
.char3 { transform: rotate(37.2deg); }
.char4 { transform: rotate(49.6deg); }
.char5 { transform: rotate(62deg); }
.char6 { transform: rotate(74.4deg); }
.char7 { transform: rotate(86.8deg); }
.char8 { transform: rotate(99.2deg); }
.char9 { transform: rotate(111.6deg); }
.char10 { transform: rotate(124deg); }
.char11 { transform: rotate(136.4deg); }
.char12 { transform: rotate(148.4deg); }
.char13 { transform: rotate(161.4deg); }
.char14 { transform: rotate(173.4deg); }
.char15 { transform: rotate(186.4deg); }
.char16 { transform: rotate(198.4deg); }
.char17 { transform: rotate(210.8deg); }
.char18 { transform: rotate(223.2deg); }
.char19 { transform: rotate(235.6deg); }
.char20 { transform: rotate(248deg); }
.char21 { transform: rotate(260.4deg); }
.char22 { transform: rotate(272.8deg); }
.char23 { transform: rotate(285.2deg); }
.char24 { transform: rotate(297.6deg); }
.char25 { transform: rotate(310deg); }
.char26 { transform: rotate(322.4deg); }
.char27 { transform: rotate(334.8deg); }
.char28 { transform: rotate(347.2deg); }
.char29 { transform: rotate(359.6deg); }

.circlegradient { 
  position: absolute;
  width: 500px;
  height: 500px;
  box-shadow: 0px 0px 25px 8px rgb(219 236 244);
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 50%;
  transition: width 2s, height 2s, transform 2s;
  cursor: pointer;
  margin-top: 190px;
  margin-left: 570px;
}

.look {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-size: 18pt;
  letter-spacing: 7px;
  margin-top: 240px;
  margin-left: 20px;
  text-align: center;
  color: rgb(157, 98, 123);
  text-shadow: 0px 0px 10px #c4005933;
  transition: .5s;
  cursor:pointer
}

.look:hover {
  text-shadow: 0px 5px 20px #854659;
}

.look a {
  text-decoration: none;
  color:#ffffff;
  font-family: 'oswald', helvetica, arial, sans-serif;
  font-weight: 600;
  }

.about {
  position: absolute;
  font-size: 12pt;
  letter-spacing: 20px;
  font-weight: bold;
  margin-left: 184px;
  margin-top: 242px;
}

.intro {
  position: relative;
  width: 100%;
  height: 100%;
 

}
.ciao {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-size: 69pt;
  margin-top: 850px;
  margin-left: 0px;
  margin-right: 0px;
  letter-spacing: 16px;
  margin-bottom: 45px;
  transform: rotate(360deg);
  color: rgb(190 107 107);
  position: absolute;
  animation: mymove 8s infinite;
}

.ciao {
animation-timing-function: linear;
}
@keyframes mymove {
from {left: -700px;}
to {left: 0px}
}


.fotoimage {
  background-image: url(mee.png);
  width: 250px;
  height: 250px;
  display: block;
  position: absolute;
  margin-top: 1100px;
  margin-left: 720px;
}
.me {
  position: absolute;
  font-size: 12px;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  margin-top: 1450px;
  margin-left: 570px;
  margin-right: 520px;
}

.see {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-size: 20pt;
  text-align: center;
  margin-top: 1650px;
  margin-left: 650px;
  margin-right: 0px;
  letter-spacing: 16px;
  margin-bottom: 45px;
  transform: rotate(360deg);
  color: rgb(0, 0, 0);
  position: absolute;
}

.text {
  font-size: 60pt;
  letter-spacing: 79px;
  font-weight: bold;
  margin-left: 200px;
  margin-top: 400px;
}

.textthree {
  margin-left: 280px;
  font-size: 37pt;
  letter-spacing: 79px;
  font-weight: bold;
  margin-top: 40px;
}



.display {
  display: inline-block;
}


.image {
  position: relative;
  top: 220vh;
  width: 300px;
  height: 300px;
  margin-left: 75px;
  margin-right: 30px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.image:hover {
  transition-duration: 0.5s;
  box-shadow: 0 10px 40px -4px rgb(0 0 0 / 55%);
}

.image:hover .save-button {
  transform: translateX(30px);
}

.save-button {
  position: absolute;
  right: 110px;
  top: 76px;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background-color: #c7a1a1;
  box-shadow: 0px 6px 10px rgb(0 0 0 / 25%);
  cursor: pointer;
  transform: translateX(250px); 
  transition: transform 0.3s;
}

.save-text {
  position: absolute;
  top: -27px;
  right: 59px;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 0;
  margin: auto;
  color: aliceblue;
  font-size: 23px;
  font-weight: 400;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.copy {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-size: 10px;
  letter-spacing: 10px;
  margin-left: 530pt;
  margin-top: 265vh;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.66);
  padding-bottom: 20px;
  position: absolute;
}



